<%= render 'userinfo', user: @user %>
<%= render '_newbook' %>

<h2>Users</h2>
  <table class='table'>
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  <tbody>
    <%= @users.each do |user| %>
      <tr>
        <td><%= user_image %></td>
        <td><%= user_name %></td>
        <td><%= link_to 'Show', user_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>
